In [14]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

scraper = sntwitter.TwitterSearchScraper('CSGO min_replies:1 min_faves:10')

tweets = []

# PrzeglÄ…damy 50 najpopularniejszych tweetÃ³w dla danego hasztagu
for i, tweet in enumerate(scraper.get_items()):
    data = [
        tweet.date,
        tweet.id,
        tweet.rawContent,
        tweet.user.username,
        tweet.likeCount,
        tweet.retweetCount,
        tweet.lang
    ]
    tweets.append(data)  # Dodajemy treÅ›Ä‡ tweetu do listy tweets
    if i > 500:  # Przerywamy pÄ™tlÄ™, gdy pobraliÅ›my 50 tweetÃ³w
        break

a=pd.DataFrame(tweets, columns=['date', 'id', 'content', 'username','like_count','retweet_count', 'language'])
a.head()

,date,id,content,username,like_count,retweet_count,language
0,2023-03-27 10:14:11+00:00,1640296146517086208,"I just woke up upside down in my bed, with all...",7liciousCSGO,31,0,en
1,2023-03-27 10:12:54+00:00,1640295824562241536,FINISHING EVERY GAME MODE IN CSGO TO GET CS2\n...,m4ntuu,51,1,en
2,2023-03-27 10:11:36+00:00,1640295496919941123,Going live on Twitch with some banger CS!\n\nC...,PimpCS2,116,4,en
3,2023-03-27 09:52:16+00:00,1640290630831321089,Valorant statistically has more girls playing ...,westjett1,210,7,en
4,2023-03-27 09:37:41+00:00,1640286961523982338,Shinyyyâœ¨ðŸ’œ\n\n#CSGO #CS2 https://t.co/4vw5gts5sK,BitSkinsCom,34,2,en

In [15]:
a['date'] = a['date'].dt.tz_localize(None)
a.to_excel(r'C:\Users\tymot\Desktop\export_dataframe.xlsx', index=False)