In [7]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import re
from tqdm.notebook import tqdm
import string

scraper = sntwitter.TwitterSearchScraper('CSGO min_replies:1 min_faves:10')

tweets = []

# Przeglądamy 50 najpopularniejszych tweetów dla danego hasztagu
pbar = tqdm(total=500)
for i, tweet in enumerate(scraper.get_items()):
    data = [
        tweet.date,
        tweet.id,
        tweet.rawContent,
        tweet.user.username,
        tweet.likeCount,
        tweet.retweetCount,
        tweet.lang
    ]
    #print(data[2])
    data[2] = ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",tweet.rawContent).split())
    data[2] = data[2].lower()
    if data[2] == ' ' or data[2] == '':
        continue
    if data[4] == data[5]:
        continue
    else:
        tweets.append(data)  # Dodajemy treść tweetu do listy tweets
        pbar.update(1)
        if len(tweets) > 500:  # Przerywamy pętlę, gdy pobraliśmy 500 tweetów
            break

a=pd.DataFrame(tweets, columns=['date', 'id', 'content', 'username','like_count','retweet_count', 'language'])
a.head()

  0%|          | 0/500 [00:00<?, ?it/s]

,date,id,content,username,like_count,retweet_count,language
0,2023-03-29 21:38:13+00:00,1641193065585975300,feels good to win won against arcadia amp k23 ...,shoxCSGO,26,1,en
1,2023-03-29 21:32:55+00:00,1641191731084558337,back to csgo until cs2 fixes the esp type comm...,n0thing,38,0,en
2,2023-03-29 21:18:49+00:00,1641188183957463040,hagliden melelli,while_waiting2,12,13,hu
3,2023-03-29 21:12:00+00:00,1641186467723501568,clutchza o 1v2 pro de eagle pra garantir o 11 ...,paiNGamingCSGO,31,0,pt
4,2023-03-29 21:01:20+00:00,1641183785579601921,cs go giveaway m4a4 neo noir to enter follow m...,The1Sancho,24,28,en

In [8]:
a['date'] = a['date'].dt.tz_localize(None)
a.to_excel(r'export_dataframe.xlsx', index=False)