In [48]:
import pandas as pd
import translators as ts
from tqdm.notebook import tqdm
import time

data = pd.read_excel("export_dataframe.xlsx")
#display(data)
for i in tqdm(range(len(data.index))):
    if data.iloc[i]['language'] != 'en':
        data.at[i, 'content'] = ts.translate_text(data.iloc[i]['content'], to_language='en', translator='google')
        time.sleep(0.1)
display(data)

data.to_excel('export_dataframe_translated.xlsx', index=False)

  0%|          | 0/496 [00:00<?, ?it/s]

,date,id,content,username,like_count,retweet_count,language
0,2023-03-29 11:21:37,1641037892955913984,Langguth plums,Hi1PmYjX1jAiJZY,13,13,in
1,2023-03-29 11:21:03,1641037748957221120,Khada early autumn,i6w83RgcPeN2Iew,16,16,et
2,2023-03-29 11:20:50,1641037696683639040,NOA Kasayama Pig,xboy44215910,14,14,und
3,2023-03-29 11:19:11,1641037280881283072,Hikkel check out,Hi1PmYjX1jAiJZY,16,16,et
4,2023-03-29 11:17:28,1641036849668932096,svirezhev quinault mg,xboy44215910,13,13,und
...,...,...,...,...,...,...,...
491,2023-03-28 15:38:54,1640740251768439040,been playing a lot of halo infinite season 3 a...,bbkdragoon,15,0,en
492,2023-03-28 15:36:42,1640739700246715904,i got so wrapped up in the csgo value that i d...,TJ_DGF,14,2,en
493,2023-03-28 15:35:51,1640739487171976960,for everyone who doesnt understand german its ...,Lurker_csgo,18,1,en
494,2023-03-28 15:33:21,1640738855082136064,petr fame bolyshev professional csgo player fo...,altkoshka,11,0,ro
495,2023-03-28 15:30:59,1640738259859824896,love being back on csgo,Xed_fps,34,0,en